<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录</title>
  <link rel="stylesheet" href="../static/css/swiper.min.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>

  <div class="root">
    <div class="content">
      <h2>欢迎来到<span>拼任务</span></h2>
      <h3>账号登录</h3>
      <div class="wrap">
        <input type="text" class="txt" placeholder="请输入用户名"></br>
        <input type="password" class="pas" placeholder="请输入密码">
        <p>记住密码: <input type="checkbox" class="che"></p>
        <button class="log">登录</button>
        <a href="./register.html">没有帐号?去注册</a>
      </div>
    </div>
  </div>





  <script src="../static/scripts/zepto.js"></script>
  <script src="../static/scripts/swiper.min.js"></script>
  <script src="../static/scripts/flexible.js"></script>
  <script src="../static/scripts/ajax.js"></script>
  <script src="../static/scripts/cookie.js"></script>
  <!-- <script src="../static/scripts/login.js"></script> -->
</body>

</html>