<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>设置</title>
  <link rel="stylesheet" href="../static/css/swiper.min.css">
  <link rel="stylesheet" href="../static/css/iconfont.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/set.css">
</head>

<body>
  <div class="root">

    <!-- 头部 -->
    <header class="header">
      <a href="./meIndex.html" class="header-btn btn-left"><span class="iconfont icon-xiangzuo"></span>返回</a>
      <h1 class="title">设置</h1>
    </header>
    <!-- 内容 -->
    <div class="set-content">
      <div class="set-mess">
        <div class="aboutUs"><a href="#" class="clearfix"><p>关于我们</p><p><span class="iconfont icon-arr-right"></span></p></a></div>
        <div class="version"><a href="#" class="clearfix"><p>版本号<span>V4.0.5</span></p><p>立即更新<span class="iconfont icon-arr-right"></span></p></a></div>
      </div>

      <!-- 退出登录 -->
      <div class="log-out">
        <a href="./login.html">
          退出登录
        </a>
      </div>
    </div>

  </div>

  <script src="../static/scripts/zepto.js"></script>
  <script src="../static/scripts/swiper.min.js"></script>
  <script src="../static/scripts/flexible.js"></script>
  <script src="../static/scripts/api.js"></script>
  <script src="../static/scripts/main.js"></script>
</body>

</html>